{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block extra_head%}
    <script>
        $(document).ready(function(){
            $(".price-div").hide()
        })

        $.ajax({
            url:"{% url 'room:get_slots' room.id %}",
            dataType:'json',
            success:function(response){
                // response=JSON.parse(response)
                // for(slot in response)
                // {
                //     // console.log(response[slot])
                // }
                // render(response,0)
                console.log(response)
                }
        })
        function render(response,day){
            days=['Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday','Sunday']
            days={'Monday':1,'Tuesday':2,'Wednesday':3,'Thrusday':4,'Friday':5,'Saturday':6,'Sunday':7}
            // console.log(response)
            var x=''
            for(slot in response){
                if (response[slot].fields.day==1)
                {
                    x+="<tr><td>"+response[slot].fields.price+"</td><td>"+response[slot].fields.slot+"</td><td><input name="+response[slot].fields.slot+" type=number></td></tr>"
                }
                // break
            }
            console.log(x)
            $('#price_table > tbody:last').after(x)
        }
    </script>
{%endblock%}
{%block content%}
<div class="form-group form-horizontal">
    <form style="text-align:center;width: 380px;margin: 0 auto;" method="POST">
        <div id="price">
            <table border="2">
                {%for day in days%}
                <th id="{{day}}" onclick="daySelect(this,'{{day.id}}')">{{day}}</th>
                {%endfor%}
            </table>
                {%for day in days%}
                <div id="price{{day.id}}" class="price-div">
                    <table id="price_table" border="2">
                        <th>Slot</th>  
                        <th>Price</th>
                        {%for slot in slots%}
                                {%if slot.day == day%}
                                
                                <tr><td><input type="checkbox" value="{{slot.slot}}"><br>{{slot.slot}}</td><td name='{{slot.id}}' class="{{day}} {{slot.slot}}" value='{{slot.price}}'>{{slot.price}}</td></tr>
                                {%endif%}
                        {%endfor%}
                    </table>
                </div>
                {%endfor%}
                <label for="#price">Price</label>
                <input type="number" id="price-box"><br>
                <button type="button" id="set-all-days">Set to all days</button>
        <!-- {{form|crispy}} -->
        <!-- {{room}} -->
        </div>
    </form>
    <script>
            function daySelect(element,id){
                console.log(id,element)
                $(".price-div").hide()
                $("#price"+id).show()
            }

            $('#set-all-days').click(function(){
                price=$("#price-box").val()
                console.log(price)
                selected=$('input[type="checkbox"]:checked').each(function(data){
                    console.log(this.value)
                    $(':checkbox[value="'+this.value+'"]').each(function(){
                        // console.log(this)
                    }).prop('checked',true)
                    $('tbody tr td.'+this.value+'').each(function(){
                        console.log("this")
                    })
                })
            })
        </script>
</div>
{%endblock%}