{%extends "base.html"%}
{%load crispy_forms_tags%}
<h2>Hello</h2>
{%block content%}

<div class="container">
    
{%if user.is_host%}
<a href={%url 'room:addplace'%} class="btn btn-primary">Add Place</a><br><br>
<a href={%url 'room:add'%} class="btn btn-primary">Add a room</a><br><br>
<a href="" class="btn btn-primary">comfirm/cancel booking</a><br><br>
{%elif not user.applied_to_host%}
<a href={%url 'accounts:becomehost'%} class="btn btn-primary">Become a Host</a><br><br>
{%endif%}
<a href="" class="btn btn-primary">Make a booking</a><br><br>
<a href="" class="btn btn-primary">See upcoming booking</a><br><br>
</div>
{%endblock%}